body {
    background-color:floralwhite;
}
.topbanner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.PaperAndGoldDesigns{
    font-family: 'Arizonia', cursive;  
    color: goldenrod;
    font-size: 80px;
    position: absolute;
    padding-top: 47px;
    z-index: 1;
}
#bannerphoto {
    opacity: 0.7;
}
.navbar ul{ 
   list-style: none;
    display:flex;
    margin: 0 auto;
    padding: 0;
    border: 1px solid goldenrod;
    border-radius: 25px;
    max-width: 600px;
    flex-wrap: wrap;   
}
.toggleNav {
    display: none;
}
.navbar li {
    flex: 1;
    margin:0;  
}
a {
    font-family: 'Prata', serif;
    font-size: 18px; 
    display: inline-block;
    width:100%;
    text-align: center;
    transition: all 0.5;
    text-decoration: none;
    color: darkgreen;
}
a:hover {
    background: goldenrod;
    border-radius: 25px;
}
      
@media all and (max-width: 1000px)
    {
        .navbar ul {
        flex-wrap: wrap;
        max-width: 400px;
        }
        .navbar li {
        flex: 1 1 50%;
        }
        .toggleNav {
            display: none;
        }
        .PaperAndGoldDesigns{
            font-size: 60px;
        }
    }

@media all and (max-width: 500px)
    {
        .navbar ul {
            flex-wrap: wrap;
            max-width: 150px;
            display: none;
        }
        .navbar ul.open {
            display: flex;
        }
        .navbar li {
            flex-basis: 100%;
        }
        .toggleNav {
            display: block;
        }    
       .PaperAndGoldDesigns{
            font-size: 40px;
            padding-top: 70px;
        } 
         .wrapper {
            display: flex;
            flex-direction: column;
        } 
        .wrapper > * {
            order: 9999;
        }
        .navbar {
            order:1;
        } 
        .topbanner{
            order: 2;
        }  
    }
    
.bottombanner {
    display: flex;
    align-items: flex-end;
    position: absolute; 
    bottom:0;
}
    .bespoke {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:grey;
}
    #logo{
    border: 1px solid goldenrod;  
    margin-right: 10px; 
    }
    






